 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om meg</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                <p>Hei!<br>
                  Jeg er Henry, gift med Rebecca, informatikkstudent ved NTNU og trives med mange baller i luften. <br>
                  Er ansatt i Makerspace-IDI ved NTNU, og har vært TA i Programvareutvikling våren 2017. <br>
                  Spiller trommer og fiolin, men helst ikke samtidig. Det har jeg bare prøvd en gang.<br>
                  Ta en titt på det jeg har gjort før og gjerne kontakt meg dersom du vil gi meg noe arbeid.</p>
                </div>
                <!-- <div class="col-lg-4">
                    <p>Dersom du lurer på noe som helst, ta kontak med meg via skjema-et under.</p>
                </div> -->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                    <!--<a href="#" class="btn btn-lg btn-outline">-->
                        <!--<i class="fa fa-download"></i> Download Theme-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </section>
